## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
#import gmaps

# Import API key
#from config import g_key

# Configure gmaps API key
#gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.53,20.04,41.00,100,76,2.24,broken clouds
1,1,Avarua,CK,-21.21,-159.78,75.20,88,0,20.80,clear sky
2,2,Rikitea,PF,-23.12,-134.97,66.22,76,100,25.19,overcast clouds
3,3,Sitka,US,57.05,-135.33,64.40,59,75,14.99,broken clouds
4,4,Vaini,TO,-21.20,-175.20,77.00,94,75,6.93,broken clouds

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

min_temp = input("Please enter the minimum temperature critera for your fab all-inclusive vacation.\n")
while True:
    try:
        min_temp = int(min_temp)
        break
    except ValueError:
        print("Excuse me, you have to type a value.")
        min_temp = input("Please enter a temperature number. Please re-enter your minimum temperature critera:\n")

max_temp = input("Please enter the maximum temperature critera for your fab all-inclusive vacation.\n")
while True:
    try:
        max_temp = int(max_temp)
        break
    except ValueError:
        print("Excuse me, you have to type a value.")
        max_temp = input("Please enter a temperature number. Please re-enter your maximum temperature critera:\n")

Please enter the minimum temperature critera for your fab all-inclusive vacation.
59
Please enter the maximum temperature critera for your fab all-inclusive vacation.
70

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

temp_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
s_temps = temp_df.sort_values(['Max Temp'])

In [25]:
s_temps

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
629,629,Pisco,PE,-13.70,-76.22,59.0,82,75,4.70,broken clouds
161,161,Nikolskoye,RU,59.70,30.79,59.0,82,0,2.24,clear sky
598,598,Aukra,NO,62.79,6.92,59.0,93,81,6.93,broken clouds
178,178,Ulladulla,AU,-35.35,150.47,59.0,44,40,17.22,scattered clouds
218,218,Saint-Ambroise,CA,48.55,-71.33,59.0,77,75,8.05,broken clouds
...,...,...,...,...,...,...,...,...,...,...
181,181,Khani,GE,41.96,42.96,69.8,94,75,4.70,broken clouds
202,202,Altensteig,DE,48.58,8.60,70.0,78,0,4.43,clear sky
183,183,Dalby,AU,-27.18,151.27,70.0,23,44,3.00,scattered clouds
387,387,Florence,IT,43.77,11.25,70.0,77,0,2.24,clear sky
422,422,Altamont,US,42.21,-121.74,70.0,40,1,8.05,clear sky

In [26]:
# 4a. Determine if there are any empty rows.
data_pts_ct = s_temps.count()
data_pts_ct

City_ID                173
City                   173
Country                172
Lat                    173
Lng                    173
Max Temp               173
Humidity               173
Cloudiness             173
Wind Speed             173
Current Description    173
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
s_temps_1 = ideal_temps.dropna()
s_temps_1.count()

City_ID                172
City                   172
Country                172
Lat                    172
Lng                    172
Max Temp               172
Humidity               172
Cloudiness             172
Wind Speed             172
Current Description    172
dtype: int64

In [28]:
s_temps_1

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
629,629,Pisco,PE,-13.70,-76.22,59.0,82,75,4.70,broken clouds
161,161,Nikolskoye,RU,59.70,30.79,59.0,82,0,2.24,clear sky
598,598,Aukra,NO,62.79,6.92,59.0,93,81,6.93,broken clouds
178,178,Ulladulla,AU,-35.35,150.47,59.0,44,40,17.22,scattered clouds
218,218,Saint-Ambroise,CA,48.55,-71.33,59.0,77,75,8.05,broken clouds
...,...,...,...,...,...,...,...,...,...,...
181,181,Khani,GE,41.96,42.96,69.8,94,75,4.70,broken clouds
202,202,Altensteig,DE,48.58,8.60,70.0,78,0,4.43,clear sky
183,183,Dalby,AU,-27.18,151.27,70.0,23,44,3.00,scattered clouds
387,387,Florence,IT,43.77,11.25,70.0,77,0,2.24,clear sky
422,422,Altamont,US,42.21,-121.74,70.0,40,1,8.05,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure